<header id="header" id="home">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo" style="margin-top:28px">
        <a href="/" style="display: flex;"><img src="/img/logo1.png" style="height: 55px; width: 65px;" alt="" title="" />
          <h5 style="color: #fff;margin-top: 15px;margin-left: 15px;">MUSKET</h5>
        </a>
        
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <!-- <li class="menu-active"><a href="/">Home</a></li> -->
          <li><a href="about">About</a></li>
          <!-- <li><a href="contact">Contact</a></li> -->
          <li><a href="ticket">Book Tickets</a></li>
          <li><a href="login"><%=userName%></a></li>
          <li><a href="reqregister">Publish Request</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </div>
</header>
